odc-stac
odc-geo
odc-cloud==0.2.3
git+https://github.com/opendatacube/datacube-core.git@develop-1.9
git+https://github.com/opendatacube/odc-tools.git@develop-1.9#subdirectory=apps/dc_tools
git+https://github.com/opendatacube/eo-datasets.git@integrate-1.9
